<div class="container-fluid">
    <a href="">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title"><i class="fas fa-calendar-day"></i> నేటి పంచంగం</h3>
                <p>Calculate hora detials and identify the best time to travel</p>
            </div>        
        </div>
    </a>
    <a href="bhargava-siddantam-form">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title"><i class="fas fa-om"></i> భార్గవ సిద్ధాంతం</h3>
                <p>Calculate hora detials and identify the best time to travel</p>
            </div>        
        </div>
    </a>
</div>