<a [routerLink]="['bhargava-siddantam-details']" class="mat-ripple">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title"><mat-icon>flight_takeoff</mat-icon> Travel today</h3>
            <p>Calculate best time to travel based on bhargava siddantam.</p>
        </div>        
    </div>
</a>

<a [routerLink]="['returns-calc']" class="mat-ripple">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title"><mat-icon>payments</mat-icon> Returns Calculator</h3>
            <p>Calculate the interest amout based on interest rate and days available.</p>
        </div>        
    </div>
</a>